.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .main {
  width: 100%;
  height: 100%;
  position: relative;
}

.container .main .menu1 {
  width: 100%;
  height: 100%;
  background: url(../imgs/menu_1_bg.png) bottom right/100% 69.3519vh no-repeat;
  position: relative;
}

.container .main .menu1 .menu1-inner {
  position: absolute;
  top: 12vh;
  left: 19vw;
  width: 62vw;
  height: 55vh;
  padding: 0 2vw 0 1.8vw;
  box-sizing: border-box;
}

.container .main .menu1 .menu1-inner .swiper-wrapper {
  width: 100%;
  height: 86%;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-left {
  width: 36vw;
  height: 100%;
  padding: 3.8vh 2.2vw 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-left .question-left-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-left .question-left-inner .pinyin {
  display: block;
  text-align: center;
  font-size: 3.6296vh;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-left .question-left-inner .content {
  text-align: center;
  font-size: 7.4074vh;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right {
  width: calc(100% - 36vw);
  height: 100%;
  padding-top: 4vh;
  padding-right: 1vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .desc {
  height: 7.037vh;
  font-size: 2.7778vh;
  font-weight: 600;
  color: #3a290f;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .option {
  width: 100%;
  line-height: 4vh;
  padding: 0 1vw;
  box-sizing: border-box;
  background: #e2d6c1;
  color: #000;
  font-size: 2vh;
  font-weight: 600;
  position: relative;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .option .option-id {
  font-size: 2.7778vh;
  color: #8b693a;
  font-weight: bold;
  padding-right: 1.0417vw;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .right::after {
  content: url(../imgs/right.png);
  position: absolute;
  right: 0;
  bottom: -1vh;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .wrong::after {
  content: url(../imgs/wrong.png);
  position: absolute;
  right: 0;
  bottom: -1vh;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .option:not(:first-child) {
  margin-top: 4vh;
}

.container .main .menu1 .menu1-inner .swiper-wrapper .question .question-right .answer-tip {
  position: absolute;
  right: 1vw;
  bottom: -6vh;
  width: 21.1458vw;
  font-size: 2.4vh;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.container .main .menu1 .levels {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
}

.container .main .menu1 .levels .level-item {
  position: absolute;
  bottom: 0;
  width: 6.3542vw;
  height: 6.3542vw;
  border: 0.1042vw solid #fff;
  background: #cab99d;
  color: #3a290f;
  font-size: 1.6667vw;
  font-weight: 500;
  text-align: center;
  line-height: 6.3542vw;
  border-radius: 50%;
  box-sizing: border-box;
}

.container .main .menu1 .levels .active {
  background: #c55f5c;
}

.container .main .menu1 .levels .level-item:nth-child(1) {
  left: 20vw;
}

.container .main .menu1 .levels .level-item:nth-child(2) {
  left: 34vw;
}

.container .main .menu1 .levels .level-item:nth-child(3) {
  left: 48vw;
}

.container .main .menu1 .levels .level-item:nth-child(4) {
  left: 62vw;
}

.container .main .menu2 {
  width: 100%;
  height: 100%;
  background: url(../imgs/menu_2_bg.png) bottom right/100% 69.3519vh no-repeat;
  position: relative;
}

.container .main .menu2 .menu2-inner {
  position: absolute;
  top: 12vh;
  left: 19vw;
  width: 62vw;
  height: 55vh;
  z-index: 1;
}

.container .main .menu2 .menu2-inner .swiper-container {
  width: 100%;
  height: calc(100% - 8vh);
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper .title {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  font-size: 3.5185vh;
  font-weight: bold;
  text-align: center;
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper .option {
  width: 100%;
  padding: 0 8vw;
  box-sizing: border-box;
  font-size: 2vh;
  position: relative;
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper .option .option-item {
  width: 100%;
  height: 10vh;
  padding: 0 2vw;
  box-sizing: border-box;
  background: #e2d6c1;
  display: flex;
  align-items: center;
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper .right::after {
  content: url(../imgs/right.png);
  position: absolute;
  right: 4.1667vw;
  bottom: -1vh;
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper .wrong::after {
  content: url(../imgs/wrong.png);
  position: absolute;
  right: 4.1667vw;
  bottom: -1vh;
}

.container .main .menu2 .menu2-inner .swiper-container .swiper-wrapper .option:not(:first-child) {
  margin-top: 3vh;
}

.container .main .menu2 .menu2-inner .answer-tip {
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  font-size: 2.5926vh;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.container .main .menu2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  padding: 0 19vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container .main .menu2 .bottom .headset {
  width: 2.8646vw;
  height: 5.0926vh;
  flex: none;
}

.container .main .menu2 .bottom .audio-wrap {
  width: 100%;
  display: flex;
}

.container .main .menu2 .bottom .audio-wrap .audio-left {
  width: 3.4896vw;
  height: 6.1111vh;
  margin: 0 1.0417vw;
  flex: none;
}

.container .main .menu2 .bottom .audio-wrap .audio-right {
  width: 100%;
  display: flex;
  align-items: center;
}

.container .main .menu2 .bottom .audio-wrap .audio-right input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 0.5208vw;
  height: 0.7407vh;
}

.container .main .menu2 .bottom .audio-wrap .audio-right input[type="range"]::-webkit-slider-runnable-track {
  height: 0.7407vh;
  background: rgba(248, 246, 246, 0.2);
  border-radius: 0.5208vw;
}

.container .main .menu2 .bottom .audio-wrap .audio-right input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5625vw;
  height: 1.5625vw;
  background: #3a290f;
  border: 0.2083vw solid #8b693a;
  margin-top: -1.0185vh;
  border-radius: 50%;
}

.container .main .menu2 .tip-info {
  position: absolute;
  left: 0;
  bottom: 17vh;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  font-size: 2.4074vh;
  text-align: center;
}

.container .main .menu3 {
  width: 100%;
  height: 100%;
  background: url(../imgs/menu_3_bg.png) bottom right/100% 15.463vh no-repeat;
  position: relative;
}

.container .main .menu3 .menu3-inner {
  width: 100%;
  height: calc(100% - 15vh);
  box-sizing: border-box;
  position: relative;
}

.container .main .menu3 .menu3-inner .musics {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  margin-left: -23.4375vw;
  width: 46.875vw;
  height: 29.9074vh;
  padding: 2vh 2vw;
  background: #bd2a32;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container .main .menu3 .menu3-inner .musics .tab {
  width: 100%;
  display: flex;
  font-size: 2.2222vh;
  flex: none;
}

.container .main .menu3 .menu3-inner .musics .tab .tab-item {
  display: block;
  height: 100%;
  font-weight: 600;
  border: 0.0521vw solid #fff;
  padding: 0.5vh 2vw;
  box-sizing: border-box;
}

.container .main .menu3 .menu3-inner .musics .tab .active {
  background: #fff;
  color: #bd2a32;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: 2.2222vh;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .music {
  width: 84%;
  height: 100%;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .music .swiper-slide {
  width: 14%;
  height: 100%;
  padding: 1vh 1vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .music .swiper-slide .music-item {
  height: 22vh;
  padding: 0.6vh 0.4vw;
  box-sizing: border-box;
  display: block;
  text-align: center;
  writing-mode: vertical-rl;
  border-radius: 1.5625vw;
  opacity: 0.6;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .music .swiper-slide .active {
  border: 0.1042vw solid #fff;
  opacity: 1;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .old-pic {
  width: 84%;
  height: 100%;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .old-pic .swiper-slide {
  width: 33%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .old-pic .swiper-slide .img-item {
  width: 100%;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .old-pic .swiper-slide .active {
  border: 0.1042vw solid #fff;
}

.container .main .menu3 .menu3-inner .musics .musics-swiper .old-pic .swiper-slide-active {
  opacity: 1;
}

.container .main .menu3 .menu3-inner .options {
  position: absolute;
  bottom: 35vh;
  left: 50%;
  margin-left: -23.4375vw;
  width: 46.875vw;
  height: 9.3519vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main .menu3 .menu3-inner .options .option-pause-play {
  margin: 0 1.0417vw;
}

.container .main .menu3 .menu3-inner .current-img {
  position: absolute;
  bottom: 34vh;
  left: 50%;
  margin-left: -17vw;
  width: 34vw;
  height: 38.3333vh;
  overflow: hidden;
}

.container .main .menu3 .inner-bg {
  background: url(../imgs/pan.png) center 20%/36.7708vw 68.2407vh no-repeat;
}

.container .main .menu3 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  padding: 2vh 19vw;
  box-sizing: border-box;
  color: #fff;
}

.container .main .menu3 .bottom .lyric-name {
  width: 100%;
  line-height: 4vh;
  font-weight: bold;
  font-size: 1.8519vh;
}

.container .main .menu3 .bottom .lyric-text {
  width: 100%;
  height: 6vh;
  overflow: hidden;
  line-height: 3vh;
  font-weight: 500;
  font-size: 1.4815vh;
}

.container .main .menu3 .bottom .lyric-text .lyric-text-inner {
  -webkit-animation: 10s rowup linear infinite normal;
  animation: 10s rowup linear infinite normal;
  position: relative;
}

.container .main .menu4 {
  width: 100%;
  height: 100%;
  background: url(../imgs/menu_4_bg.png) bottom right/100% 69.3519vh no-repeat;
  position: relative;
}

.container .main .menu4 .menu4-inner {
  position: absolute;
  top: 12vh;
  left: 19vw;
  width: 62vw;
  height: 55vh;
  display: flex;
  justify-content: space-between;
}

.container .main .menu4 .menu4-inner .icons {
  width: 46%;
  height: 100%;
  padding: 3vw 5vh;
  box-sizing: border-box;
}

.container .main .menu4 .menu4-inner .icons .icons-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .bubbles {
  position: absolute;
  left: 50%;
  margin-left: -8.2813vw;
  width: 16.5625vw;
  height: 18.9815vh;
  display: none;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item {
  position: absolute;
  width: 8.0729vw;
  height: 14.3519vh;
  -webkit-animation: 3s bubbleup linear infinite normal;
  animation: 3s bubbleup linear infinite normal;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-5:nth-child(1) {
  left: 0;
  top: 0;
  animation-duration: 2s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-5:nth-child(2) {
  right: 0;
  top: 0;
  animation-duration: 3s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-5:nth-child(3) {
  left: 50%;
  top: 50%;
  margin-left: -4.0365vw;
  margin-top: -7.1759vh;
  animation-duration: 3s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-5:nth-child(4) {
  left: 0;
  bottom: 0;
  animation-duration: 4s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-5:nth-child(5) {
  right: 0;
  bottom: 0;
  animation-duration: 5s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-6:nth-child(1) {
  left: 10%;
  top: 0;
  animation-duration: 2s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-6:nth-child(2) {
  right: 0;
  top: 0;
  animation-duration: 3s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-6:nth-child(3) {
  left: 16%;
  top: 50%;
  margin-left: -4.0365vw;
  margin-top: -7.1759vh;
  animation-duration: 3s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-6:nth-child(4) {
  left: 66%;
  top: 50%;
  margin-left: -4.0365vw;
  margin-top: -7.1759vh;
  animation-duration: 4s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-6:nth-child(5) {
  left: 10%;
  bottom: 0;
  animation-duration: 5s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-6:nth-child(6) {
  right: 0;
  bottom: 0;
  animation-duration: 6s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(1) {
  left: 5%;
  top: 0;
  animation-duration: 2s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(2) {
  right: 5%;
  top: 0;
  animation-duration: 3s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(3) {
  left: 8%;
  top: 50%;
  margin-left: -4.0365vw;
  margin-top: -7.1759vh;
  animation-duration: 3s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(4) {
  left: 50%;
  top: 50%;
  margin-left: -4.0365vw;
  margin-top: -7.1759vh;
  animation-duration: 4s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(5) {
  left: 92%;
  top: 50%;
  margin-left: -4.0365vw;
  margin-top: -7.1759vh;
  animation-duration: 5s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(6) {
  left: 5%;
  bottom: 0;
  animation-duration: 6s;
}

.container .main .menu4 .menu4-inner .icons .icons-inner .icon-item-7:nth-child(7) {
  right: 5%;
  bottom: 0;
  animation-duration: 7s;
}

.container .main .menu4 .levels {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
}

.container .main .menu4 .levels .level-item {
  position: absolute;
  bottom: 0;
  width: 6.3542vw;
  height: 6.3542vw;
  border: 0.1042vw solid #fff;
  background: #cab99d;
  color: #3a290f;
  font-size: 1.6667vw;
  font-weight: 500;
  text-align: center;
  line-height: 6.3542vw;
  border-radius: 50%;
  box-sizing: border-box;
}

.container .main .menu4 .levels .active {
  background: #c55f5c;
}

.container .main .menu4 .levels .level-item:nth-child(1) {
  left: 20vw;
}

.container .main .menu4 .levels .level-item:nth-child(2) {
  left: 31vw;
}

.container .main .menu4 .levels .level-item:nth-child(3) {
  left: 42vw;
}

.container .main .menu4 .levels .level-item:nth-child(4) {
  left: 53vw;
}

.container .main .menu4 .levels .level-item:nth-child(5) {
  left: 64vw;
}

.container .main .enter {
  position: absolute;
  top: 52vh;
  right: 23vw;
  width: 7.3958vw;
  height: 13.1481vh;
  animation-iteration-count: infinite;
}

.container .main .menus {
  width: 100%;
  height: 100%;
  position: relative;
}

.container .main .menus .menu-item {
  width: 10.4167vw;
}

.container .main .menus .menu-item:nth-child(1) {
  position: absolute;
  top: 13vh;
  left: 37vh;
}

.container .main .menus .menu-item:nth-child(1) img {
  height: 56.1111vh;
}

.container .main .menus .menu-item:nth-child(2) {
  position: absolute;
  top: 11vh;
  left: 65vh;
  animation-delay: 0.3s;
}

.container .main .menus .menu-item:nth-child(2) img {
  height: 52.4074vh;
}

.container .main .menus .menu-item:nth-child(3) {
  position: absolute;
  top: 7vh;
  left: 93vh;
  animation-delay: 0.6s;
}

.container .main .menus .menu-item:nth-child(3) img {
  height: 61.0185vh;
}

.container .main .menus .menu-item:nth-child(4) {
  position: absolute;
  top: 7vh;
  left: 122vh;
  animation-delay: 0.9s;
}

.container .main .menus .menu-item:nth-child(4) img {
  height: 57.2222vh;
}

.container .main .back {
  position: fixed;
  z-index: 1000;
  bottom: 11.5vh;
  right: 19.5vw;
  width: 6.5625vw;
}

.container .main .modal {
  width: 50vw;
  height: 43vh;
  font-size: 3.7037vh;
  font-weight: 600;
  background: #915811;
  color: #fff;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .main .modal span:nth-child(1) {
  animation-delay: 0.2s;
}

.container .main .modal span:nth-child(2) {
  animation-delay: 0.4s;
}

.container .main .modal span:nth-child(3) {
  animation-delay: 0.6s;
}

.container .main .modal span:nth-child(4) {
  animation-delay: 0.8s;
}

.container .main .modal span:nth-child(5) {
  animation-delay: 1s;
}

.container .main .modal span:nth-child(6) {
  animation-delay: 1.2s;
}

.container .main-0 {
  background: url(../imgs/main_1.png) center 30%/63.2813vw 56.6667vh no-repeat;
}

.container .main-1 {
  background: url(../imgs/main_2.png) center 30%/63.2813vw 56.6667vh no-repeat;
}

.container .main-3 {
  background: url(../imgs/main_2.png) center 30%/63.2813vw 56.6667vh no-repeat;
}

.container header {
  width: 100%;
  height: 6.4815vh;
  padding: 0 12.5vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: none;
}

.container header .logo {
  width: 19.6875vw;
}

.container header .back {
  width: 7.3438vw;
}

.container .white-header {
  background: #fff;
}

.container footer {
  width: 100%;
  height: 4.6296vh;
  line-height: 4.6296vh;
  padding: 0 12.5vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #252525;
  color: #fff;
  flex: none;
}

.container .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.index-bg {
  background: url(../imgs/bg.jpg) center center/100% 100% no-repeat;
}

.menus-bg {
  background: url(../imgs/menu_bg.jpg) center center/100% 100% no-repeat;
}

.menu-0 {
  background: url(../imgs/1_bg.jpg) center center/100% 100% no-repeat;
}

.menu-1 {
  background: url(../imgs/2_bg.jpg) center center/100% 100% no-repeat;
}

.menu-2 {
  background: url(../imgs/3_bg.jpg) center center/100% 100% no-repeat;
}

.menu-3 {
  background: url(../imgs/4_bg.jpg) center center/100% 100% no-repeat;
}

.menu1 .swiper-button-next:after,
.menu1 .swiper-container-rtl .swiper-button-prev:after,
.menu2 .swiper-button-next:after,
.menu2 .swiper-container-rtl .swiper-button-prev:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/next.png");
  background-repeat: no-repeat;
  width: 9.8438vw;
  height: 4.6296vh;
  outline: none;
}

.menu1 .swiper-button-next.swiper-button-disabled::after,
.menu2 .swiper-button-next.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/next_disabled.png");
  background-repeat: no-repeat;
  width: 9.8438vw;
  height: 4.6296vh;
  outline: none;
}

.menu1 .swiper-button-prev:after,
.menu1 .swiper-container-rtl .swiper-button-next:after,
.menu2 .swiper-button-prev:after,
.menu2 .swiper-container-rtl .swiper-button-next:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/prev.png");
  background-repeat: no-repeat;
  width: 9.8438vw;
  height: 4.6296vh;
  outline: none;
}

.menu1 .swiper-button-prev.swiper-button-disabled::after,
.menu2 .swiper-button-prev.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/prev_disabled.png");
  background-repeat: no-repeat;
  width: 9.8438vw;
  height: 4.6296vh;
  outline: none;
}

.menu1 .swiper-button-prev,
.menu2 .swiper-button-prev {
  top: unset;
  bottom: 1vh;
  left: 2vw;
  outline: none;
  width: 9.8438vw;
  height: 4.6296vh;
}

.menu1 .swiper-button-next,
.menu2 .swiper-button-next {
  top: unset;
  bottom: 1vh;
  left: 23.6vw;
  outline: none;
  width: 9.8438vw;
  height: 4.6296vh;
}

.menu1 .swiper-button-prev.swiper-button-disabled,
.menu1 .swiper-button-next.swiper-button-disabled,
.menu2 .swiper-button-prev.swiper-button-disabled,
.menu2 .swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: all;
}

.menu2 .swiper-button-prev {
  top: unset;
  bottom: 1vh;
  left: 16vw;
  outline: none;
  width: 9.8438vw;
  height: 4.6296vh;
}

.menu2 .swiper-button-next {
  top: unset;
  bottom: 1vh;
  left: 35vw;
  outline: none;
  width: 9.8438vw;
  height: 4.6296vh;
}

.menu3 .swiper-button-next:after,
.menu3 .swiper-container-rtl .swiper-button-prev:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/next_circle.png");
  background-repeat: no-repeat;
  width: 2.1875vw;
  height: 3.8889vh;
  outline: none;
}

.menu3 .swiper-button-next.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/next_circle.png");
  background-repeat: no-repeat;
  width: 2.1875vw;
  height: 3.8889vh;
  outline: none;
}

.menu3 .swiper-button-prev:after,
.menu3 .swiper-container-rtl .swiper-button-next:after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/prev_circle.png");
  background-repeat: no-repeat;
  width: 2.1875vw;
  height: 3.8889vh;
  outline: none;
}

.menu3 .swiper-button-prev.swiper-button-disabled::after {
  content: "";
  background-size: cover;
  background-image: url("../imgs/prev_circle.png");
  background-repeat: no-repeat;
  width: 2.1875vw;
  height: 3.8889vh;
  outline: none;
}

.menu3 .swiper-button-prev {
  outline: none;
  width: 2.1875vw;
  height: 3.8889vh;
  left: 0;
}

.menu3 .swiper-button-next {
  outline: none;
  width: 2.1875vw;
  height: 3.8889vh;
  right: 0;
}

.menu3 .swiper-button-prev.swiper-button-disabled,
.menu3 .swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: all;
}

.modal-wrap,
.full-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrap .back,
.full-modal-wrap .back {
  width: 7.3438vw;
}

.modal-wrap .full-screen,
.full-modal-wrap .full-screen {
  width: 20vw;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  cursor: pointer;
  color: #fff;
  font-size: 3.7037vh;
  background: #8b693a;
  border-radius: 10vh;
  animation-iteration-count: infinite;
}

@-webkit-keyframes rowup {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

@keyframes rowup {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

@keyframes bubbleup {
  0% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  25% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
}
