<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./js/swiper/swiper.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./js/screenFull.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/swiper/swiper.min.js"></script>
    <title>上海博物馆</title>
</head>

<body id="full-screen">
    <div id="app"
        :class="['container', isEnter ? 'menus-bg': 'index-bg', activeMenuIndex > -1 ? 'menu-'+activeMenuIndex : '']">
        <div class="full-modal-wrap" v-if="isShowFullScreen">
            <div class="full-screen animated pulse" @click="handleFullScreen">点我进入全屏</div>
        </div>
        <header :class="!isEnter ? 'white-header': ''">
            <div class="logo">
                <img :src="!isEnter ? './imgs/logo_1.png': './imgs/logo_2.png'" alt="上海博物馆">
            </div>
            <div class="back" @click="handleBackToIndex">
                <img :src="!isEnter ? './imgs/back_index_1.png': './imgs/back_index_2.png'" alt="返回首页">
            </div>
        </header>
        <div :class="['main', activeMenuIndex > -1 ? 'main-'+activeMenuIndex: '']">
            <div class="menu1" v-show="isEnter && !activeMenuIndex">
                <div class="menu1-inner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item, index) in currentDialects">
                                <div class="question">
                                    <div class="question-left">
                                        <div class="question-left-inner">
                                            <span class="pinyin">
                                                [ {{ item.pinyin}} ]
                                            </span>
                                            <span class="content"> {{item.title}}</span>
                                        </div>
                                    </div>
                                    <div class="question-right">
                                        <div class="desc">{{ item.desc }}</div>
                                        <div :class="['option',  dialectSelectedOption && op.key === dialectSelectedOption.key && dialectSelectedOption.value ? 'right': '', dialectSelectedOption && op.key === dialectSelectedOption.key && (!dialectSelectedOption.value) ? 'wrong': (dialectSelectedOption && op.value ? 'right': '') ]"
                                            v-for="op in item.options"
                                            @click="!dialectSelectFlag && handleDialectClickOption(index, op)">
                                            <span class="option-id">{{ op.key }}</span> {{ op.label }}
                                        </div>
                                        <div class="answer-tip" v-if="dialectSelectedOption">
                                            {{dialectSelectedOption.value? '恭喜您！回答正确！': '很遗憾！回答错误！'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="modal-wrap" v-if="isLevelFinished && isLevelPassed && activeLevelIndex < 3">
                        <div class="modal">
                            <span>恭喜您！</span>
                            <span>通过上海话{{ levels[activeLevelIndex] }}测试！</span>
                            <span>请进入{{levels[activeLevelIndex + 1]}} 测试！</span>
                            <span class="count-down">{{ seconds }}秒后进入{{ levels[activeLevelIndex + 1] }}测试</span>
                        </div>
                    </div>
                    <div class="modal-wrap" v-if="isLevelFinished && !isLevelPassed">
                        <div class="modal">
                            <span>很遗憾，</span>
                            <span>您没有通过上海话{{ levels[activeLevelIndex] }}测试！</span>
                            <span>还需要多多练习哦！</span>
                            <span class="count-down" v-if="activeLevelIndex !== 3">{{ seconds }}秒后进入{{
                                levels[activeLevelIndex + 1] }}测试</span>
                        </div>
                    </div>
                </div>
                <div class="levels">
                    <div :class="['level-item', index === activeLevelIndex ? 'active': '']"
                        v-for="(item, index) in levels">
                        {{ item }}
                    </div>
                </div>
            </div>

            <div class="menu2" v-show="isEnter && activeMenuIndex === 1">
                <div class="menu2-inner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="(item, index) in currentListens">
                                <div class="title">{{ item.title }}</div>
                                <div :class="['option',  listenSelectedOption && op.key === listenSelectedOption.key && listenSelectedOption.value ? 'right': '', listenSelectedOption && op.key === listenSelectedOption.key && (!listenSelectedOption.value) ? 'wrong': (listenSelectedOption && op.value ? 'right': '') ]"
                                    v-for="op in item.options">
                                    <div class="option-item"
                                        @click="!listenSelectFlag && handleListenClickOption(index, op)">
                                        {{ op.label }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="answer-tip" v-if="listenSelectedOption">
                        {{listenSelectedOption.value? '恭喜您！回答正确！': '很遗憾！回答错误！'}}
                    </div>
                    <div class="modal-wrap" v-if="isListenFinished && isListenPassed">
                        <div class="modal">
                            <span>恭喜您！</span>
                            <span>全部回答正确！</span>
                        </div>
                    </div>

                    <div class="modal-wrap" v-if="isListenFinished && !isListenPassed">
                        <div class="modal">
                            <span>很可惜，</span>
                            <span>您没有完全回答正确，</span>
                            <span>继续加油啊！</span>
                        </div>
                    </div>

                </div>
                <div class="tip-info">
                    点击按钮听音频，选择你认为正确的答案
                </div>
                <div class="bottom" v-if="currentListens[listenSwiperActiveIndex]">
                    <div class="headset">
                        <img src="./imgs/headset.png">
                    </div>
                    <div class="audio-wrap">
                        <div class="audio-left" @click="handlePlayListen">
                            <img :src="isListenPlay ? './imgs/pause.png': './imgs/play.png'">
                        </div>
                        <div class="audio-right">
                            <audio ref="listen" :src="currentListens[listenSwiperActiveIndex].audio"
                                @timeupdate="timeUpdate"></audio>
                            <input ref="range" type="range" :max="max" min="0" step="1" :value="progressPoint"
                                @input="changeProgress"
                                :style="{background: '-webkit-linear-gradient(top, #a56403, #3a290f) 0% 0% / '+ progressPoint*100/max +'% 100% no-repeat'}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu3" v-show="isEnter && activeMenuIndex === 2">
                <div :class="['menu3-inner', !activeTabIndex ? 'inner-bg': '']">
                    <div v-show="!activeTabIndex" class="options">
                        <div class="option-prev" @click="handlePrevMusic">
                            <img src="./imgs/pan_prev.png">
                        </div>
                        <div class="option-pause-play" @click="handlePlayMusic">
                            <img :src="isMusicPlay ? './imgs/pan_pause.png': './imgs/pan_play.png'">
                        </div>
                        <div class="option-next" @click="handleNextMusic">
                            <img src="./imgs/pan_next.png">
                        </div>
                        <audio ref="music" :src="musicData[musicSwiperIndex].audio"></audio>
                    </div>

                    <div class="current-img" v-show="activeTabIndex">
                        <img :src="oldPictureData[oldPictureSwiperIndex]">
                    </div>
                    <div class="musics">
                        <div class="tab">
                            <span :class="['tab-item', activeTabIndex === index ? 'active': '']"
                                v-for="(item, index) in tabs" @click="handleClickTab(index)">{{ item
                                }}</span>
                        </div>
                        <div class="musics-swiper" v-show="!activeTabIndex">
                            <div class="swiper-container music">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="(item, index) in musicData">
                                        <span
                                            :class="['music-item', musicSwiperIndex === index ? 'active': '']">{{item.title}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>

                        <div class="musics-swiper" v-show="activeTabIndex">
                            <div class="swiper-container old-pic">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="(item, index) in oldPictureData">
                                        <img :class="['img-item', oldPictureSwiperIndex === index? 'active': '']"
                                            :src="item" />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom" v-if="!activeTabIndex">
                    <div class="lyric-name">
                        {{ musicData[musicSwiperIndex].title}}
                    </div>
                    <div class="lyric-text">
                        <div class="lyric-text-inner">
                            <p v-for="(p, index) in musicData[musicSwiperIndex].lyric">
                                {{p}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu4" v-show="isEnter && activeMenuIndex === 3">
                <div class="menu4-inner">
                    <div class="icons">
                        <div class="icons-inner" v-if="currentIcons.length">
                            <div class="icon-item" v-for="(item, index) in currentIcons[0]">
                                <img :id="item.key" :src="item.src" draggable="true" @dragstart="handleDrag(event)"
                                    @dragover="handleDragOver(event)" @drop="handleDrop(event)">
                                <div class="bubbles">
                                    <img src="./imgs/bubble.gif" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icons">
                        <div class="icons-inner" v-if="currentIcons.length">
                            <div class="icon-item" v-for="(item, index) in currentIcons[1]">
                                <img :id="item.key" :src="item.src" draggable="true" @dragstart="handleDrag(event)"
                                    @dragover="handleDragOver(event)" @drop="handleDrop(event)">
                                <div class="bubbles">
                                    <img src="./imgs/bubble.gif" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-wrap" v-if="isPassed">
                        <div class="modal" style="flex-direction: unset; align-items: center;">
                             <span class="animated fadeInRightBig">恭</span>
                             <span class="animated fadeInRightBig">喜</span>
                             <span class="animated fadeInRightBig">你</span>
                             <span class="animated fadeInRightBig">过</span>
                             <span class="animated fadeInRightBig">关</span>
                             <span class="animated fadeInRightBig">了！</span>
                        </div>
                    </div>
                </div>
                <div class="levels">
                    <div :class="['level-item', index === activeCategoryIndex ? 'active': '']"
                        v-for="(item, index) in categorys" @click="handleClickCategory(index)">
                        {{ item }}
                    </div>
                </div>
            </div>

            <!-- menus -->
            <div class="menus" v-if="isEnter && activeMenuIndex === -1">
                <div class="menu-item animated fadeInLeft" v-for="(item, index) in menus" @click="handleMenu(index)">
                    <img :src="activeMenuIndex === index ? './imgs/menu_'+ (index + 1) +'_active.png' : './imgs/menu_'+ (index + 1) +'.png'" :alt="item">
                </div>
            </div>

            <!-- back -->
            <div class="back" v-if="isEnter && activeMenuIndex > -1" @click="handleBack">
                <img src="./imgs/back.png" alt="返回">
            </div>

            <!-- enter -->
            <div class="enter animated bounce" v-show="!isEnter" @click="handleEnter">
                <img src="./imgs/enter.png" alt="进入">
            </div>
        </div>
        <footer v-if="activeMenuIndex === -1">
            Copyright © 2015 ShanghaiMuseum.net 上海博物馆 版权所有 备案号：沪IPC备10003390号-4
        </footer>
    </div>
</body>
<script type="text/javascript" src="./js/index.js"></script>

</html>